<main>
    <!-- HERO SECTION FOR ACTIVITIES -->
    <section>

    </section>

    <!-- ADS-HAU ACTIVITIES -->
    <section>
        
    </section>

    <!-- LIST OF ACTIVITIES/EVENTS --> 
    <section>
        
    </section>

    <!-- BUILDING A COMMUNITY SECTION -->
    <section>
        
    </section>

    <!-- WHERE SCHOLARSHIP THRIVE SECTION -->
    <section>
        
    </section>

    <!-- CONTACT CALL TO ACTION -->
    <section>
        
    </section>

    <!-- FOOTER -->
    <footer></footer>
    
</main>