/* TAILWIND VERSION 4.0 */
@import "tailwindcss";

@theme {
    /* #FONT FAMILY */

    /* FONT SIZES */
    --text-base: clamp(1rem, 0.9rem + 0.07vw, 1.05rem);
    --text-base--large: clamp(1rem, 0.7071rem + 0.5143vi, 1.2rem);
    --text-heading-4: clamp(1rem, 1rem + 1.25vw, 1rem);
    --text-heading-3: clamp(1.25rem, 1rem + 1.25vw, 2rem);
    --text-heading-2: clamp(1.375rem, 1rem + 1.875vw, 2.5rem);
    --text-heading-1: clamp(2rem, 1.5rem + 2.8vw, 4.5rem);
    --text-heading-display: clamp(2.6518rem, 1.88rem + 3.459vi, 5.3131rem);

    /* COLORS */
    --tw-text-opacity: 1;
    --color-midnight: rgb(14 24 75 / var(--tw-text-opacity)); /* #0E184B */
    --color-royal: rgb(35 39 92 / var(--tw-text-opacity)); /* #23275C */
    --color-royal-violet: rgb(62 62 119 / var(--tw-text-opacity)); /* #3E3E77 */
    --color-golden: rgb(201 154 86 / var(--tw-text-opacity)); /* #C99A56 */
    --color-champagne: rgb(249 198 123 / var(--tw-text-opacity)); /* #F9C67B */
    --color-white: rgb(255 255 255 / var(--tw-text-opacity)); /* #FFFFFF */

    /* SPACINGS */
    --spacing-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
    --spacing-2xs: clamp(0.5625rem, 0.5446rem + 0.0893vi, 0.625rem);
    --spacing-xs: clamp(0.875rem, 0.8571rem + 0.0893vi, 0.9375rem);
    --spacing-sm: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
    --spacing-md: clamp(1.6875rem, 1.6339rem + 0.2679vi, 1.875rem);
    --spacing-lg: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    --spacing-xl: clamp(3.375rem, 3.2679rem + 0.5357vi, 3.75rem);
    --spacing-2xl: clamp(4.5rem, 4.3571rem + 0.7143vi, 5rem);
    --spacing-3xl: clamp(4.75rem, 5.2571rem + 1.2023vi, 5.25rem);
}

@font-face {
    font-family: "The Seasons Bold";
    src: url("/fonts/TheSeasonsBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "The Seasons Bold Italic";
  src: url("/fonts/TheSeasonsBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Albertus Nova";
  src: url("/fonts/albertusnova.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Albertus Nova Bold";
  src: url("/fonts/albertusnova_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-VariableFont_wght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
    body {
        font-family: 'The Seasons Bold', 'Times New Roman', serif;
        background-color: var(--color-midnight);
        color: var(--color-white);
    }
    
    h1 {
        font-size: var(--text-heading-2);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 1.1;
    }

    h2 {
        font-size: var(--text-heading-2);
        line-height: 1.1;
    }

    h3 {
        font-size: var(--text-heading-3);
        color: var(--color-champagne);
        line-height: normal;
    }

    h4 {
        font-size: var(--text-heading-4);
        font-family: 'Albertus Nova';
    }
    
    p {
        font-family: 'Figtree', 'Arial', sans-serif;
        font-size: var(--text-base);
        opacity: 0.8;
        line-height: 135%;
    }

    span {
        color: var(--color-champagne);
        opacity: 1;
        font-weight: bold;
    }

    em {
        font-family: "The Seasons Bold Italic", "Times New Roman", serif;
        font-style: italic;
    }

    a {
        font-family: 'Figtree', 'Arial', sans-serif;
        font-size: var(--text-base);
        cursor: pointer;
    }

    img {
        height: auto;
        width: auto;
    }

    @media screen and (min-width: 1567px) {
        h1 {
            font-size: var(--text-heading-2);
        }
        p {
            font-size: var(--text-base--large);
        }
    }
}

@layer components {
    .gradient {
        background-image: linear-gradient(
            125deg,
            var(--color-midnight),
            var(--color-royal),
            var(--color-royal-violet)
        );
    }

    .hero-gradient {
        background-image: linear-gradient(
            90deg,
            rgba(from var(--color-midnight) r g b / 0.95) -3.08%,
            rgba(from var(--color-midnight) r g b / 0.9) 46.92%,
            rgba(from var(--color-midnight) r g b / 0.75) 96.92%
        );
    }

    .golden-gradient {
        background-image: linear-gradient(
            102deg,
            var(--color-golden) -1.27%,
            rgba(197, 151, 78, 0.95) 26.69%,
            rgba(144, 104, 33, 0.9) 104.31%
        );
    }
    .midnight-golden-gradient {
        background-image: linear-gradient(
            to bottom right,
            var(--color-midnight) 0%,
            var(--color-royal-violet) 50%,
            rgba(144, 104, 33, 0.9) 100%
        );
    }
    .btn-full-gradient {
        @apply py-2xs px-lg rounded-lg text-midnight text-center;
            background-image: linear-gradient(
            102deg,
            var(--color-golden) -1.27%,
            rgba(197, 151, 78, 0.95) 26.69%,
            rgba(144, 104, 33, 0.9) 104.31%
        );
    }

    .section-padding {
        @apply px-md md:px-lg lg:px-3xl grid w-full gap-xs;
    }

    .grid-style {
        @apply grid-cols-4 md:grid-cols-10 xl:grid-cols-12;
    }

    .leaders-style {
        @apply rounded-xl col-span-4 md:col-span-5 xl:col-span-3;
    }

    .mini-heading-cont {
        @apply flex items-center gap-2xs;
    }

    .mini-heading-cont {
        @apply flex gap-2xs;
    }

    .btn-inactive {
        @apply py-2xs px-lg rounded-lg text-white bg-midnight text-center;
    }

    .dashboard-content {
        @apply p-sm lg:p-md text-white bg-midnight text-center rounded-lg;
    }

    .btn-full-gradient {
        @apply py-2xs px-lg rounded-lg text-midnight text-center;
        /* background-image: linear-gradient(102deg, var(--color-golden) -1.27%, rgba(197, 151, 78, 0.95) 26.69%, rgba(144, 104, 33, 0.90) 104.31%); */
    }
    .btn-full {
        @apply py-2xs px-lg rounded-lg text-midnight bg-golden text-center;
    }

    .btn-outlined {
        @apply py-2xs px-lg border border-golden rounded-lg text-golden text-center;
    }

    .card-content {
        @apply p-md flex flex-col gap-md rounded-lg basis-full justify-between;
    }

    .content-arrow {
        @apply flex flex-row items-end gap-sm justify-between;
    }

    .btn-arrow {
        @apply bg-midnight p-xs rounded-full;
    }

    .arrow {
        @apply w-5 max-w-none h-5;
    }

    .faq-item {
        @apply border-2 border-royal-violet rounded-lg p-sm lg:max-w-8/12
    }
    .home-section {
        @apply px-sm sm:px-lg lg:px-xl py-3xl flex flex-col gap-md;
    }

    .faq-item {
        @apply border-2 border-royal-violet rounded-lg p-sm lg:max-w-8/12;
    }
}
