<main>
  <header>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li><a routerLink="/activities" routerLinkActive="active" ariaCurrentWhenActive="page">Activities</a></li>
        <li><a routerLink="/scholarship" routerLinkActive="active" ariaCurrentWhenActive="page">Scholarship</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
        <li><a routerLink="/admin-login" routerLinkActive="active" ariaCurrentWhenActive="page">Admin-Login</a></li>  <!-- to be removed -->
        <li><a routerLink="/admin-dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Admin-Dashboard</a></li> <!-- to be removed -->
      </ul>
    </nav>
  </header>

</main>

<router-outlet />
