<main>
    <!-- HERO SECTION FOR CONTACT -->
    <section class="relative flex h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('images/about/about-hero.webp')">
        <div class="hero-gradient absolute h-full w-full top-0 left-0"></div>
        <div class="absolute bottom-10 md:bottom-20 lg:bottom-25">
            <div class="section-padding grid-style">
                <div class="mini-heading-cont col-start-1 col-span-4 md:col-span-10 xl:col-span-12 mb-sm">
                    <img src="images/star-icon.svg" alt="Star Icon">
                    <h4>Stay Connected</h4>
                </div>
                <h1 class="col-start-1 col-span-4 md:col-span-7 text-heading-display"><span>Let's Work Together</span><br/>for a Brigther Future</h1>
                <p class="col-start-1 col-span-3 md:col-span-6 xl:col-start-9 xl:col-span-4">Have questions or want to collaborate? Reach out to ADS-HAUSC and be part of our growing community of scholars and innovators. Whether you’re a student, mentor, or partner, we’re here to connect, inspire, and create opportunities together.</p>
            </div>
        </div>
    </section>

    <!-- SOCIALS SECTION -->
    <section class="py-xl px-sm md:px-md lg:px-xl ">
        <div class="pb-lg xl:pb-2xl grid lg:grid-cols-3 md:grid-cols-2 ">
            <article class="lg:col-span-2 pr-md lg:pr-[30%]">
                <h2 class="pb-sm lg:leading-lg">Building the Next <Span>Generation of Innovators</Span></h2>
            </article>
            <article class="">
                <p>DOST is dedicated to nurturing young talents and equipping them with the resources to thrive in STEM fields. Through scholarships, research grants, and technological initiatives, it empowers students to develop groundbreaking solutions to real-world problems. The agency's commitment extends to funding cutting-edge research and fostering partnerships with institutions worldwide.</p><br>
                <p>By investing in science and education, DOST ensures that Filipino scholars lead innovations that contribute to national and global progress. It remains a pillar of support for aspiring scientists and researchers.</p>
            </article>
        </div>
        <div class="grid py">
            <!--content 1-->
            <div class="grid md:grid-cols-5 gap-4 md:gap-2 md:grid-rows-none py-sm border-b-1">
                <div class="md:col-span-2">
                    <div class="box w-full h-full"></div><!--image-->
                </div>
                <div class="grid content-between md:col-span-3">
                    <article class="pb-lg md:pb-0">
                        <h3>Reach Out to</h3>
                        <h3><span>ADS HAUSC</span></h3>
                    </article>
                    <article class="grid gap-2xs items-end">
                        <div class="leading-xs md:w-[70%] lg:w-[60%] 2xl:w-[40%]">
                            <p>Have questions? Contact us anytime at <span>adshausc&commat;gmail.com</span></p>
                        </div>
                        <div class="md:col-start-2 md:justify-self-end">
                            <button class="btn-full">Contact Us</button>
                        </div>
                    </article>
                </div>
            </div><!--end of content 1-->
            <!--content 2-->
            <div class="grid md:grid-cols-5 gap-4 md:gap-2 md:grid-rows-none py-sm border-b-1">
                <div class="md:col-span-2">
                    <div class="box w-full h-full"></div><!--image-->
                </div>
                <div class="grid content-between md:col-span-3">
                    <article class="pb-lg md:pb-0">
                        <h3>Stay Connected </h3>
                        <h3>on <span>Facebook</span></h3>
                    </article>
                    <article class="grid gap-2xs items-end">
                        <div class="leading-xs md:w-[70%] lg:w-[60%] 2xl:w-[40%]">
                            <p>Follow our official page for updates at</p>
                            <p><span>facebook.com/adshausc</span></p>
                        </div>
                        <div class="md:col-start-2 md:justify-self-end">
                            <button class="btn-full">View Page</button>
                        </div>
                    </article>
                </div>
            </div><!--end of content 2-->
            <!--content 3-->
            <div class="grid md:grid-cols-5 gap-4 md:gap-2 md:grid-rows-none py-sm border-b-1">
                <div class="md:col-span-2">
                    <div class="box w-full h-full"></div><!--image-->
                </div>
                <div class="grid content-between md:col-span-3">
                    <article class="pb-lg md:pb-0">
                        <h3>Follow Our</h3>
                        <h3><span>Scholar Stories</span></h3>
                    </article>
                    <article class="grid gap-2xs items-end">
                        <div class="leading-xs md:w-[70%] lg:w-[60%] 2xl:w-[40%]">
                            <p>Join us on Instagram at</p>
                            <p><span>instagram.com/adshausc</span></p>
                        </div>
                        <div class="md:col-start-2 md:justify-self-end">
                            <button class="btn-full">View Page</button>
                        </div>
                    </article>
                </div>
            </div><!--end of content 3-->
        </div>
    </section>
        
    <!-- FORMS SECTION -->
    <section class="py-xl px-sm md:px-md lg:px-xl grid md:grid-cols-2 gap-2">
        <div class="pb-lg md:pb-0">
            <article class="pb-lg lg:leading-lg">
                <h2>Have Questions? </h2>
                <h2><span>We're Here to Help</span></h2>
            </article>
            <article class="md:w-[40vw]">
                <p>ADS-HAUSC believes in fostering strong connections within our scholar community. Whether it's about upcoming events, partnerships, or how to get involved, our team is ready to provide the information you need. Your journey toward growth and success starts with a conversation.</p><br>
                <p>Leave us a message, and our team will reach out to you!</p>
            </article>
        </div>
        <div class="">
            <form id="contactForm">
                <input type="text" id="name" placeholder="NAME" maxlength="40" class="my-sm border-b-1 w-full outline-none" required>
                <input type="email" id="email" placeholder="EMAIL" class="my-sm border-b-1 w-full outline-none" required>
                <input type="tel" id="contactNum" placeholder="CONTACT NO." class="my-sm border-b-1 w-full outline-none" required>
                <textarea id="message" rows="4" placeholder="MESSAGE" class="my-sm border-b-1 w-full outline-none align-text-bottom" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="flex flex-col lg:flex-row justify-between gap-md px-sm sm:px-lg lg:px-xl py-2xl sm:py-xl items-center">
        <div class="flex flex-col sm:flex-row gap-md items-center text-center sm:text-start">
            <img class="h-28" src="images/adshausc-logo-owl.png" alt="ADS-HAUSC Logo">
            <div class="flex flex-col gap-2xs">
                <h4>Association of DOST Scholars - Holy Angel University Student Chapter</h4>
                <p>#1 Holy Angel Avenue, Sto Rosario, Angeles City, Pampanga 2009</p>
                <div class="flex flex-row gap-md justify-center sm:justify-start">
                    <a href="https://www.facebook.com/adshausc" target="_blank" class="flex flex-row h-fit gap-2xs">
                        <img src="images/fb-icon.svg" alt="Facebook Icon">
                        <p>adshausc</p>
                    </a>
                    <a href="https://www.instagram.com/adshausc" target="_blank" class="flex flex-row h-fit gap-2xs">
                        <img src="images/ig-icon.svg" alt="Instagram Icon">
                        <p>adshausc</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2xs text-center lg:text-start">
            <p class="opacity-100 font-bold">Website developed by</p>
            <p>
                <a href="https://github.com/jimvdz">jimvdz</a> |
                <a href="https://github.com/bancantcode">bancantcode</a> |
                <a href="https://github.com/lmcay">lmcay</a> |
                <a href="https://github.com/cess2c">cess2c</a></p>
            <p>Copyright &copy; 2025. All rights reserved.</p>
        </div>
    </footer>
    
</main>