<main>
  <section class="w-screen h-screen py-lg px-lg lg:py-xl lg:px-2xl">
    <img src="images/adshausc-logo-circle.webp" alt="center" class="hidden lg:block absolute h-[90%] object-cover object-center" />
    <div class="border-t-4 border-b-4 border-[var(--color-champagne)] h-full py-xs">
      <div class="h-full border-t-3 border-b-3 border-[var(--color-champagne)] flex justify-center items-center lg:justify-end">
        <div class="w-full md:max-w-[500px]">
          <div class="form-container midnight-golden-gradient pt-xl pb-md px-md border-2 border-[rgb(144,104,33)] rounded-lg relative">
            <img src="images/adshausc-logo-circle.webp" alt="ADSHAUSC LOGO" class="absolute left-1/2 -translate-x-1/2 -top-[40px] w-20 lg:hidden" />
            <h2 class="text-center mb-4">Admin <span>Dashboard</span></h2>

            <div class="relative flex items-center w-full mb-lg">
              <hr class="w-full border-t-2 border-white" />
              <div class="absolute left-1/2 -translate-x-1/2">
                <span class="text-3xl">✦</span>
              </div>
            </div>

            <form (ngSubmit)="onLogin()" #loginForm="ngForm"   class="flex flex-col">
              <label for="username">USERNAME</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" class="bg-white p-2 rounded-md mt-2 text-black" />

              <label for="password" class="mt-sm">PASSWORD</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" class="bg-white p-2 rounded-md mt-2 text-black" />

              <p *ngIf="errorMessage" class="text-red-700 mt-sm p-2xs rounded-lg bg-red-200">{{ errorMessage }}</p>

              <button type="submit" class="bg-[var(--color-midnight)] p-xs rounded-md mt-md cursor-pointer">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
