<main class="bg-white">
    <!-- Nav Section -->
    <section class="pb-sm md:py-md px-sm sm:px-lg lg:px-xl ">
        <nav class="flex flex-col text-black">
            <h2 [class.hidden]="!isActivitiesActive" class="activities">Admin Activities</h2>
            <h2 [class.hidden]="isActivitiesActive" class="forms hidden">Admin Forms</h2>
        </nav>
    </section>
    <!-- Content Section -->
    <section class="pb-xs px-sm sm:px-lg lg:px-xl h-screen">
        <div class="flex flex-row gap-sm pb-sm lg:pb-md">
            <button [class.btn-full]="isActivitiesActive" [class.btn-inactive]="!isActivitiesActive" (click)="toggleSection(true)" class="btn-full">Activities</button>
            <button  [class.btn-full]="!isActivitiesActive" [class.btn-inactive]="isActivitiesActive" (click)="toggleSection(false)" class="btn-inactive">Forms</button>
        </div>

        <!-- Activities -->
        <div [class.hidden]="!isActivitiesActive" class="inactive flex flex-col gap-md"> 

            <div *ngFor="let activity of activities" class="dashboard-content flex flex-col gap-sm"><!-- template -->
                <div class="flex flex-col md:flex-row text-left md:gap-2xs">
                    <!-- <h3><span>United We Lead</span></h3> for introductory phrase input -->
                    <h3>{{ activity.title }}</h3>  <!-- for title input-->
                </div>
                <article class="flex flex-col md:grid md:grid-cols-[auto_auto] text-left gap-sm md:gap-md ">
                    <p class="line-clamp-4">
                        {{ activity.desc1 }}<br>
                        {{ activity.desc2 }}
                    </p>
                    <div class="grid grid-cols-[auto_auto_auto] justify-between md:gap-xs ">
                        <img src="{{ activity.img1 }}" alt="" class="aspect-square h-auto md:max-h-30 object-cover">
                        <img src="{{ activity.img2 }}" alt="" class="aspect-square h-auto md:max-h-30 object-cover">
                        <img src="{{ activity.img3 }}" alt="" class="aspect-square h-auto md:max-h-30 object-cover">
                    </div>
                </article>
                <div class="flex flex-row gap-xs justify-end">
                    <button class="btn-full px-xl">Edit</button>
                    <button class="btn-outlined">Delete</button>
                </div>
            </div>
        </div>

        <!-- Forms -->
        <div [class.hidden]="isActivitiesActive" class="grid lg:grid-cols-2 gap-sm">
            <!-- template -->
            <div class="dashboard-content flex flex-col text-left">
                <h3><span>Bryan A-aron Santiago</span></h3>
                <div class="mini-heading-cont pb-sm">
                    <h4>test&commat;email.com</h4>
                    <img src="images/star-icon.svg" alt="Star Icon">
                    <h4>09123456789</h4>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sollicitudin nunc. Sed condimentum eros orci, ut viverra arcu elementum id. Fusce ultricies dolor ac porttitor tempus. Nam viverra in nisl vestibulum ornare. Curabitur consectetur orci sit amet magna viverra.</p>
            </div>
        </div>
    </section>
</main>