<main>
    <!-- HERO SECTION FOR SCHOLARSHIP -->
    <section class="relative flex h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('images/scholarship/scholarship-hero.webp')">
        <div class="hero-gradient absolute h-full w-full top-0 left-0"></div>
        <div class="absolute bottom-10 md:bottom-20 lg:bottom-25">
            <div class="section-padding grid-style">
                <div class="mini-heading-cont col-start-1 col-span-4 md:col-span-10 xl:col-span-12 mb-sm">
                    <img [src]="'images/star-icon.svg'" alt="Star Icon" width="300" height="300" loading="lazy">
                    <p class="font-family-span opacity-90">Scholarships</p>
                </div>
                <h1 class="col-start-1 col-span-4 md:col-span-7 text-heading-display"><span>Investing in the Future,</span><br>One Scholar at a Time</h1>
                <p class="col-start-1 col-span-3 md:col-span-6 xl:col-start-9 xl:col-span-4">The Association of DOST Scholars - Holy Angel University Student Chapter (ADS-HAUSC) is the official university-wide student organization for the DOST-SEI scholars in Holy Angel University which aims to create an environment that will nurture the students’ oneness while promoting the essence of science, technology, and environment.</p>
            </div>
        </div>
    </section>

    <!-- SCHOLARSHIP OPPORTUNITIES SECTION -->
    <section class="px-sm sm:px-lg lg:px-xl flex flex-col gap-md py-lg">
        <div class="mini-heading-cont mt-xl">
            <img [src]="'images/star-icon.svg'" alt="Star Icon" width="300" height="300" loading="lazy">
            <p class="font-family-span opacity-90">Opportunities</p>
        </div>

        <div class="flex flex-col lg:flex-row gap-sm">
            <div class="card-content golden-gradient">
                <h2 class="text-heading-3 text-midnight">S&T Undergraduate Scholarships</h2>
                <div class="content-arrow text-midnight">
                    <p>
                        The S&T Undergraduate Scholarships Program aims to stimulate and entice talented Filipino
                        youths to pursue lifetime productive careers in science and technology and ensure a steady,
                        adequate supply of qualified S&T human resources which can steer the country towards national
                        progress.
                    </p>
                </div>
            </div>
            <div class="card-content justify-start golden-gradient">
                <h2 class="text-heading-3 text-midnight">Junior-Level Science Scholarships</h2>
                <div class="content-arrow text-midnight">
                    <p>
                        The Junior Level Science Scholarships (JLSS) Program aims to: provide scholarships to support
                        talented third-year college students pursuing science and technology degrees and ensure a steady
                        supply of qualified S&T professionals to drive national progress.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- PRIORITY COURSE SECTION -->
    <section class="pt-36 section-padding">
        <div class="mini-heading-cont">
            <img [src]="'images/star-icon.svg'" alt="Star Icon" width="300" height="300" loading="lazy">
            <p class="font-family-span opacity-90">Priority Course</p>
        </div>
        <h2 class="text-center pt-md pb-sm">S&T Undergraduate Scholarships</h2>
        <div class="grid lg:grid-cols-2 md:grid-rows-2 gap-2 leading-md pb-xl">
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-sm"><span>School of Computing</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Information Technology</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Arts and Sciences</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Psychology</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Education</span></h3>
                <ul class="list-disc px-sm">
                    <li>BSEd major in Mathematics</li>
                    <li>BSEd major in Science</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Engineering and Architecture</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Industrial Engineering</li>
                </ul>  
            </div>
        </div>

        <h2 class="text-center pb-sm">Junior-Level Science Scholarships (JLSS)</h2>
        <div class="grid lg:grid-cols-2 md:grid-rows-2 gap-2 leading-md">
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-sm"><span>School of Computing</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Information Technology</li>
                    <li>BS Computer Science</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Arts and Sciences</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Psychology</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Education</span></h3>
                <ul class="list-disc px-sm">
                    <li>BSEd major in Mathematics</li>
                    <li>BSEd major in Science</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Engineering and Architecture</span></h3>
                <div class=""> 
                    <ul class="list-disc px-sm ">
                        <li>BS Aeronautical Engineering</li>
                        <li>BS Architecture</li>
                        <li>BS Civil Engineering</li>
                        <li>BS Computer Engineering</li>
                        <li>BS Electrical Engineering</li>
                        <li>BS Electronics and Communications Engineering</li>
                        <li>BS Industrial Engineering</li>
                        <li>BS Mechanical Engineering</li>
                    </ul>  
                </div>
            </div>
        </div>
    </section>

    <!-- WHO CAN APPLY SECTION -->
    <section class="mt-36 px-sm sm:px-lg lg:px-xl py-3xl flex flex-col gap-md lg:flex-row-reverse lg:gap gradient justify-between">
         <img class="w-1/2 sm:3/8 mt-xl lg:m-auto" src="images/stars-cta.svg" alt="Stars">
         <div class="flex flex-col items-start gap-md justify-center mb-xl lg:my-xl">
             <h2>Who Can <span>Apply</span>?</h2>
             <p class="w-3/4">Ongoing Grade 12 students in Negros Oriental who are expected to graduate at the end of SY 2024-2025.<br>
                <span>STEM STRAND</span>: All students belonging to the STEM class can apply.<br>
                <span>NON-STEM STRAND</span>: Must be in the top 5% of the class based on Grade 11 ranking.
             </p>
             <a routerLink="/contact" class="btn-full-gradient">Contact Us</a>
         </div>
    </section>

    <!-- REQUIREMENTS/BENEFITS SECTION -->
    <section class="pt-36 section-padding pb-24">
        <div class="grid lg:grid-cols-3 gap-2">
            <div>
                <h2><span>Requirements</span></h2>
            </div>
            <div class="gradient col-span-2 p-sm rounded-lg mb-md lg:mb-0">
                <ul class="list-disc px-sm">
                    <li>Application forms Forms C-J which can be downloaded at <span>https://www.science-scholarships.ph/</span></li>
                    <li>Birth Certificate</li>
                    <li>Parent/Legal Guardian/Spouse's 2023 Income Tax Return / BIR Form 1701 / Employment Contract for OFW / BIR Certificate of Tax Exemption / Certificate of Indigency / Certificate of Employment with Compensation / Proof of Pension (Note: Only one of these documents, whichever is applicable to you)</li>
                    <li>Passport-sized ID with signature above printed name</li>
                    <li>Notarized Affidavit of Guardianship (For applicants not living with their parents)</li>
                    <li>Marriage Certificate (For married applicants)</li>
                </ul>
            </div>
            <div>
                <h2><span>Benefits</span></h2>
            </div>
            <div class="gradient col-span-2 p-sm rounded-lg mb-md lg:mb-0">
                <ul class="list-disc px-sm">
                    <li>Living allowance of <span>₱6,000</span>/month</li>
                    <li>Tuition and other school fees not more than <span>₱40,000</span>/year</li>
                    <li>Book allowance of <span>₱10,000</span>/year</li>
                    <li>Uniform allowance of <span>₱1,000.00</span></li>
                    <li>Transportation allowance</li>
                    <li>Thesis allowance of <span>₱10,000.00</span></li>
                    <li>Group health and accident insurance</li>
                    <li>Graduation Allowance of <span>₱1,000.00</span></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="flex flex-col lg:flex-row justify-between gap-md px-sm sm:px-lg lg:px-xl py-2xl sm:py-xl items-center">
        <div class="flex flex-col sm:flex-row gap-md items-center text-center sm:text-start">
            <img class="h-28" src="images/adshausc-logo-owl.png" alt="ADS-HAUSC Logo" loading="lazy">
            <div class="flex flex-col gap-2xs">
                <h2 class="text-base--large font-family-span leading-tight">Association of DOST Scholars - Holy Angel University Student Chapter</h2>
                <p>#1 Holy Angel Avenue, Sto Rosario, Angeles City, Pampanga 2009</p>
                <div class="flex flex-row gap-md justify-center sm:justify-start" loading="lazy">
                    <a href="https://www.facebook.com/adshausc" target="_blank" class="flex flex-row h-fit gap-2xs">
                        <img src="images/fb-icon.svg" alt="Facebook Icon">
                        <p>adshausc</p>
                    </a>
                    <a href="https://www.instagram.com/adshausc" target="_blank" class="flex flex-row h-fit gap-2xs">
                        <img src="images/ig-icon.svg" alt="Instagram Icon" loading="lazy">
                        <p>adshausc</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2xs text-center lg:text-start">
            <p class="opacity-100 font-bold">Website developed by</p>
            <p>
                <a href="https://github.com/jimvdz" target="_blank">jimvdz</a> |
                <a href="https://github.com/bancantcode" target="_blank">bancantcode</a> |
                <a href="https://github.com/lmcay" target="_blank">lmcay</a> |
                <a href="https://github.com/cess2c" target="_blank">cess2c</a></p>
            <p>Copyright &copy; 2025. All rights reserved.</p>
        </div>
    </footer>
    
</main>