<main>
    <!-- HERO SECTION FOR SCHOLARSHIP -->
    <section>
        <!--<img class="h-screen w-full object-cover" src="/images/.webp" alt="Hero image of the Scholarship page">-->
    </section>

    <!-- SCHOLARSHIP OPPORTUNITIES SECTION -->
    <section class="py-xl px-sm md:px-md lg:px-xl">
        <p class="pb-lg">Scholarship Opportunities</p>
        <div class="text-blue grid lg:grid-cols-2 gap-2 place-content-center">
            <div class="gold-gradient p-sm rounded-lg md:max-w-[60vw]">
                <h3 class="pb-sm font-bold">S&T Undergraduate Scholarships</h3>
                <p>The S&T Undergraduate Scholarships Program aims to stimulate and entice talented Filipino youths to pursue lifetime productive careers in science and technology and ensure a steady, adequate supply of qualified S&T human resources which can steer the country towards national progress.</p>
            </div>
            <div class="gold-gradient p-sm rounded-lg md:max-w-[60vw]">
                <h3 class="pb-sm font-bold">Junior-Level Science Scholarships(JLSS)</h3>
                <p>The Junior Level Science Scholarships (JLSS) Program aims to: provide scholarships to support talented third-year college students pursuing science and technology degrees and ensure a steady supply of qualified S&T professionals to drive national progress.</p>
            </div>
        </div>
    </section>

    <!-- PRIORITY COURSE SECTION -->
    <section class="py-xl px-sm md:px-md lg:px-xl">
        <p class="pb-lg">Priority Courses</p>
        <h2 class="text-center pb-sm">S&T Undergraduate Scholarships</h2>
        <div class="grid lg:grid-cols-2 md:grid-rows-2 gap-2 leading-md pb-xl">
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-sm"><span>School of Computing</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Information Technology</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Arts and Sciences</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Psychology</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Education</span></h3>
                <ul class="list-disc px-sm">
                    <li>BSEd major in Mathematics</li>
                    <li>BSEd major in Science</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Engineering and Architecture</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Industrial Engineering</li>
                </ul>  
            </div>
        </div>

        <h2 class="text-center pb-sm">Junior-Level Science Scholarships (JLSS)</h2>
        <div class="grid lg:grid-cols-2 md:grid-rows-2 gap-2 leading-md">
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-sm"><span>School of Computing</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Information Technology</li>
                    <li>BS Computer Science</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Arts and Sciences</span></h3>
                <ul class="list-disc px-sm">
                    <li>BS Psychology</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Education</span></h3>
                <ul class="list-disc px-sm">
                    <li>BSEd major in Mathematics</li>
                    <li>BSEd major in Science</li>
                </ul>  
            </div>
            <div class="gradient p-sm rounded-lg">
                <h3 class="font-bold pb-xs"><span>School of Engineering and Architecture</span></h3>
                <div class=""> 
                    <ul class="list-disc px-sm ">
                        <li>BS Aeronautical Engineering</li>
                        <li>BS Architecture</li>
                        <li>BS Civil Engineering</li>
                        <li>BS Computer Engineering</li>
                        <li>BS Electrical Engineering</li>
                        <li>BS Electronics and Communications Engineering</li>
                        <li>BS Industrial Engineering</li>
                        <li>BS Mechanical Engineering</li>
                    </ul>  
                </div>
            </div>
        </div>
    </section>

    <!-- WHO CAN APPLY SECTION -->
    <section class="gradient my-xl py-3xl px-sm md:px-md lg:px-xl ">
        <h2 class="pb-lg">Who Can <span>Apply</span>?</h2>
        <p>Ongoing Grade 12 students in Negros Oriental who are expected to graduate at the end of SY 2024-2025.</p>
        <p><span>STEM STRAND</span>: All students belonging to the STEM class can apply.</p>
        <p><span>NON-STEM STRAND</span>: Must be in the top 5% of the class based on Grade 11 ranking.</p>

        <!-- CONTACT CALL TO ACTION -->
    </section>

    <!-- REQUIREMENTS/BENEFITS SECTION -->
    <section class="py-xl px-sm md:px-md lg:px-xl">
        <div class="grid lg:grid-cols-3 gap-2">
            <div>
                <h2><span>Requirements</span></h2>
            </div>
            <div class="gradient col-span-2 p-sm rounded-lg mb-md lg:mb-0">
                <ul class="list-disc px-sm">
                    <li>Application forms Forms C-J which can be downloaded at <span>https://www.science-scholarships.ph/</span></li>
                    <li>Birth Certificate</li>
                    <li>Parent/Legal Guardian/Spouse's 2023 Income Tax Return / BIR Form 1701 / Employment Contract for OFW / BIR Certificate of Tax Exemption / Certificate of Indigency / Certificate of Employment with Compensation / Proof of Pension (Note: Only one of these documents, whichever is applicable to you)</li>
                    <li>Passport-sized ID with signature above printed name</li>
                    <li>Notarized Affidavit of Guardianship (For applicants not living with their parents)</li>
                    <li>Marriage Certificate (For married applicants)</li>
                </ul>
            </div>
            <div>
                <h2><span>Benefits</span></h2>
            </div>
            <div class="gradient col-span-2 p-sm rounded-lg mb-md lg:mb-0">
                <ul class="list-disc px-sm">
                    <li>Living allowance of <span>₱6,000</span>/month</li>
                    <li>Tuition and other school fees not more than <span>₱40,000</span>/year</li>
                    <li>Book allowance of <span>₱10,000</span>/year</li>
                    <li>Uniform allowance of <span>₱1,000.00</span></li>
                    <li>Transportation allowance</li>
                    <li>Thesis allowance of <span>₱10,000.00</span></li>
                    <li>Group health and accident insurance</li>
                    <li>Graduation Allowance of <span>₱1,000.00</span></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer></footer>
    
</main>