<main>
    <!-- HERO SECTION FOR ABOUT -->
    <!-- <section>
        <img class="h-screen w-full object-cover" src="/images/about-hero.webp" alt="Hero image of the about page">
        <p>Who We Are</p>
        <h1>The nation’s <span>Brightest,</span>the <span>future’s Boldest</span></h1>
        <p>The Association of DOST Scholars - Holy Angel University Student Chapter (ADS-HAUSC) is the official university-wide student organization for the DOST-SEI scholars in Holy Angel University which aims to create an environment that will nurture the students’ oneness while promoting the essence of science, technology, and environment.</p>
    </section> -->

    <!-- ORIGIN SECTION -->
    <!-- <section class="px-sm md:px-md lg:px-xl>
        <p>Our Origin</p>
        <h2>Founded on the belief that science and technology can drive meaningful change, ADS-HAUSC has been a <span>pillar of academic excellence</span> and <span>community impact.</span></h2>
        <p>ADS-HAUSC nurtures future leaders in science and technology through innovation, collaboration, and service. Committed to academic excellence and community engagement, we bridge knowledge with real-world impact to drive progress for the nation.</p>
        <img src="" alt="">
        <img src="" alt="">
    </section> -->

    <!-- MISSION SECTION -->
    <!-- <section class="px-sm md:px-md lg:px-xl>
        <p>Our Mission</p>
        <h2>To <span>foster a dynamic community</span> that harnesses the potential of science and technology to create sustainable solutions <span>for a better world.</span></h2>
        <p>Together, we advocate for academic excellence, collaborative learning, and a profound respect for the environment, laying the groundwork for a more promising future that benefits everyone.</p>
        <img src="" alt="">
    </section> -->

    <!-- not done -->
    <!-- VISION SECTION -->
    <section class="py-3xl px-md md:px-lg lg:px-3xl grid w-full gap-xs grid-cols-4 md:grid-cols-10 xl:grid-cols-12">
        <p class="col-start-1 col-span-4 md:col-start-5">Our Vision</p>
        <img class="col-start-1 col-span-4 h-[25rem] object-cover md:row-span-2" src="/images/about-hero.webp" alt="Vision section big image">
        <h2 class="col-start-1 col-span-4 md:col-start-5 md:col-span-6"><span>Encouraging a harmonious community of student scholars</span>, committed to maximizing the power of science, technology, and environmental awareness.</h2>
        <p class="col-start-1 col-span-3 md:col-start-5 md:col-span-5">Our vision is to be a beacon of collaborative excellence, sparking positive change through inventive and innovative ideas, sustainable practices, and a shared dedication to crafting a consistent and progressive community for generations.</p>
        <img class="col-start-1 col-span-4 md:col-start-3 md:col-span-6" src="/images/about-hero.webp" alt="Vision section small image">
    </section>

    <!-- CORE VALUES SECTION -->
    <section class="py-3xl px-md md:px-lg lg:px-3xl grid w-full gap-xs grid-cols-4 md:grid-cols-10 xl:grid-cols-12">
        <p class="col-start-1 col-span-4 md:col-span-10">Core Values</p>
        <div class="gradient rounded-xl px-md py-lg xl:px-lg col-start-1 col-span-4 md:col-span-6 xl:col-span-4">
            <h3 class="mb-xs lg:w-4/5 2xl:w-full">Adaptability & Awareness</h3>
            <p class="2xl:w-4/5">Empowering future leaders to navigate the evolving world of science and technology through innovation, collaboration, and continuous learning.</p>
        </div>
        <div class="gradient rounded-xl px-md py-lg xl:px-lg col-start-1 col-span-4 md:col-span-6 md:col-start-3 xl:col-span-4">
            <h3 class="mb-xs lg:w-3/5 2xl:w-full">Ethical Integrity</h3>
            <p class="2xl:w-4/5">Fostering a culture of responsibility and service by driving impactful outreach programs, mentorship, and advocacy for a better society.</p>
        </div>
        <div class="gradient rounded-xl px-md py-lg xl:px-lg col-start-1 col-span-4 md:col-span-6 md:col-start-5 xl:col-span-4">
            <h3 class="mb-xs lg:w-3/5 2xl:w-full">Intellectual Mastery</h3>
            <p class="2xl:w-4/5">Championing excellence in academics and leadership, inspiring scholars to push the boundaries of knowledge in science and technology.</p>
        </div>
    </section>

    <!-- ADS-HAUSC LEADERS SECTION -->
    <!-- <section >
        <h2>Meet the Leaders</h2>
    </section> -->

    <!-- CONTACT CALL TO ACTION -->
    <section>
        
    </section>

    <!-- FOOTER -->
    <footer></footer>
    
</main>