<main>
    <!-- HERO SECTION FOR ABOUT -->
    <section>
        <img class="h-screen w-full object-cover" src="/images/about-hero.webp" alt="Hero image of the about page">
        <p>Who We Are</p>
        <h1>The nation’s <span>Brightest,</span>the <span>future’s Boldest</span></h1>
        <p>The Association of DOST Scholars - Holy Angel University Student Chapter (ADS-HAUSC) is the official university-wide student organization for the DOST-SEI scholars in Holy Angel University which aims to create an environment that will nurture the students’ oneness while promoting the essence of science, technology, and environment.</p>
    </section>

    <!-- ORIGIN SECTION -->
    <section>
        <p>Our Origin</p>
        <h2>Founded on the belief that science and technology can drive meaningful change, ADS-HAUSC has been a <span>pillar of academic excellence</span> and <span>community impact.</span></h2>
        <p>ADS-HAUSC nurtures future leaders in science and technology through innovation, collaboration, and service. Committed to academic excellence and community engagement, we bridge knowledge with real-world impact to drive progress for the nation.</p>
        <img src="" alt="">
        <img src="" alt="">
    </section>

    <!-- MISSION SECTION -->
    <section>
        <p>Our Mission</p>
        <h2>To <span>foster a dynamic community</span> that harnesses the potential of science and technology to create sustainable solutions <span>for a better world.</span></h2>
        <p>Together, we advocate for academic excellence, collaborative learning, and a profound respect for the environment, laying the groundwork for a more promising future that benefits everyone.</p>
        <img src="" alt="">
    </section>

    <!-- VISION SECTION -->
    <section>
        <img src="" alt="">
        <p>Our Vision</p>
        <h2><span>Encouraging a harmonious community of student scholars</span>, committed to maximizing the power of science, technology, and environmental awareness.</h2>
        <p>Our vision is to be a beacon of collaborative excellence, sparking positive change through inventive and innovative ideas, sustainable practices, and a shared dedication to crafting a consistent and progressive community for generations.</p>
        <img src="" alt="">
    </section>

    <!-- CORE VALUES SECTION -->
    <section>
        <p>Core Values</p>
        <div>
            <h3>Adaptability & Awareness</h3>
            <p>Empowering future leaders to navigate the evolving world of science and technology through innovation, collaboration, and continuous learning.</p>
        </div>
        <div>
            <h3>Ethical Integrity</h3>
            <p>Fostering a culture of responsibility and service by driving impactful outreach programs, mentorship, and advocacy for a better society.</p>
        </div>
        <div>
            <h3>Intellectual Mastery</h3>
            <p>Championing excellence in academics and leadership, inspiring scholars to push the boundaries of knowledge in science and technology.</p>
        </div>
    </section>

    <!-- ADS-HAUSC LEADERS SECTION -->
    <section>
        <h2>Meet the Leaders</h2>
    </section>

    <!-- CONTACT CALL TO ACTION -->
    <section>
        
    </section>

    <!-- FOOTER -->
    <footer></footer>
    
</main>